@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Protest+Revolution&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --color-primary-50: #F3F4F6;
  --color-primary-100: #E3E7EA;
  --color-primary-200: #6C757D;
  --color-primary-300: #4a535a;
  --color-primary-400: #293945;
  --color-primary-500: #2565A2;
  --color-primary-600: #1E5AA8;
  --color-primary-700: #215281;
  --color-primary-800: #1A436D;
  --color-primary-900: #1C1C1C;

  --color-desabled: #6f818b;

  --color-error: #DC3545;
  --color-error-hover: #a91e2c;

  --color-success: #28A745;
  --color-success-hover: #17702c;



  --font-title: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  --font-destaque: 'Oswald', sans-serif;
  --font-chamativa: 'Protest Revolution', sans-serif;
  --font-cursive: 'Dancing Script', cursive;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-destaque);
  }

  p {
    font-family: var(--font-title);
  }

  li,
  button,
  strong,
  a {
    font-family: var(--font-title);
  }
}