/* Habilita dark mode como variante */
@custom-variant dark (&:where(.dark, .dark *)); 

/* Estudar sobre o @theme */

/* 🌞 MODO CLARO */
:root {
  --color-primary-50: #F3F4F6;
  --color-primary-100: #E3E7EA;
  --color-primary-200: #2565A2;
  --color-primary-300: #1A436D;
  --color-primary-400: #1C1C1C;

  --color-success: #28A745;
  --color-warning: #EA9F17;
  --color-warning-strong: #C48819;
  --color-error: #DC3545;

  --color-gray: #6C757D;
  --color-white: #FFFFFF;
  --color-light: #F3F4F6;
  --color-background-light: #E3E7EA;

  --color-accent-orange: #FFA500;

  --font-title: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  --font-destaque: 'Oswald', sans-serif;
  --font-chamativa: 'Protest Revolution', sans-serif;
  --font-cursive: 'Dancing Script', cursive;
}

/* 🌙 MODO ESCURO */
.dark {
  --color-primary-50: #1C1C1C;
  --color-primary-100: #2A2A2A;
  --color-primary-200: #1A436D;
  --color-primary-300: #2565A2;
  --color-primary-400: #E3E7EA;

  --color-success: #28A745;
  --color-warning: #EA9F17;
  --color-warning-strong: #C48819;
  --color-error: #DC3545;

  --color-gray: #6C757D;
  --color-white: #FFFFFF;
  --color-light: #1C1C1C;
  --color-background-light: #2A2A2A;

  --color-accent-orange: #FFA500;
}

/* TIPOGRAFIA BASE */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-destaque);
  }
  p {
    font-family: var(--font-title);
  }
  li, button, strong, a {
    font-family: var(--font-title);
  }
}
